<!DOCTYPE html>
<html lang="en">
<head>
    <title>userImage</title>
</head>
<body>
    <main>
            <figure>
             <img src= "/images/users/<%= user.image %>">
            </figure>
    
  </main>
</body>
</html>